
.navbar {
  z-index: 3000;
}

.navbar-brand {
  font-weight: 300;

  .beta {
    font-size: 0.65em;
    margin-left: 0.2em;
    vertical-align: sub;
  }
}

.navbar-nav {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;

  li {
    font-weight: 700;
    font-size: 13px;
  }

  li.login,
  li.map {
    border: 2px solid white;
    border-radius: 2px;
    margin: auto 10px;
  }

  li.map {
    background-color: white;
    font-weight: 400;
    border-bottom-width: 0 !important;
    box-shadow: 0 2px 0 0 lightgray;

    a,
    a:hover,
    a:active,
    a:visited {
      color: #ea222e;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-nav {
    padding-top: 8px;

    li {
      margin-left: 8px;
    }

    li.login,
    li.map {
      border: 2px solid white;
      border-radius: 2px;

      // Vertical alignment
      margin-top: -2px;

      // Override all other margins
      margin-left: 16px;
      margin-right: 0;
    }

    li:hover {
      border-bottom: 2px solid white;
    }

    // Bootstrap override
    > li > a {
      padding: 7px 10px;
    }
  }
}
