@charset 'utf-8';

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);

@import 'bootstrap-variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'navbar';

@import 'map'; // Map page base
@import 'leaflet-overrides';

body.main {
  text-align: center;

  p:first-child {
    font-size: 400%;
    margin-top: 3em;
  }
}
